body {
  background: linear-gradient(0deg, #fcbfbb, #f7a8bc);
  animation: blinking 3s 0s infinite alternate none;
}
#subhead {
  font-size: 30px;
}
a {
  text-decoration: none;
}


@keyframes blinking {
  0% { background: #e3acdf; }
  25% {background: #f7d128;};
  50% { background: #fab507; }
  75% {background: #f7f55e;}
  100% { background: #f2be13; }
}
