body {
  background: linear-gradient(0deg, #fcbfbb, #f7a8bc);
  animation: blinking 30s infinite alternate none;
}
#subhead {
  font-size: 30px;
}
a {
  text-decoration: none;
}


@keyframes blinking {
  0% {background: #ffb3c6;}
  100% { background: #f6d4fc; }
}
