body {
  background: linear-gradient(0deg, #fcbfbb, #f7a8bc);
  animation: blinking 3s 0s infinite alternate none;
}
#subhead {
  font-size: 30px;
}
a {
  text-decoration: none;
}


@keyframes blinking {
  0% {background: #f7a8bc;}
  100% { background: #f7a8bc; }
}
